{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="center-container">
  <div class="login-box">
    <div class="text-center mb-8">
       <img src= {% static "base/images/wbm-logo4.png" %} alt="logo" width=200>
      <h1 class="title">Welcome To</h1>
      <h3 class="subtitle">WBM ZION TEACHING WELFARE</h3>
    </div>
    <form class="space-y-6">
      <div>
        <button class="login-btn" type="submit">Get Started</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}