{% extends "base/base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="text-center">
        <h5 class="text-center my-3">Personal Information</h5>
    </div>
    <h6>Personal Details</h6>
    <p class="text-muted mb-0">Full Name</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.first_name }} {{ request.user.middle_name }} {{ request.user.last_name }}</p>
    <p class="text-muted mb-0">Email</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.email }}</p>
    <div class="row d-flex">
        <div class="col-6">
            <p class="text-muted mb-0">Date Of Birth</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.date_of_birth }} </p>
        </div>
        <div class="col-6">
            <p class="text-muted mb-0">Gender</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.gender }} </p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-6">
            <p class="text-muted mb-0">Phone</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.phone_number }} </p>
        </div>
        <div class="col-6">
            <p class="text-muted mb-0">Region</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.region }} </p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-6">
            <p class="text-muted mb-0">Home Town</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.home_town }} </p>
        </div>
        <div class="col-6">
            <p class="text-muted mb-0">House Number</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ request.user.house_number }} </p>
        </div>
    </div>
    <h6>Spouse Details</h6>
    <p class="text-muted mb-0">Full Name</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ spouse.first_name }} {{ spouse.middle_name }} {{ spouse.last_name }}</p>
    <div class="row d-flex">
        <div class="col-6">
            <p class="text-muted mb-0">Phone number</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ spouse.phone_number }} </p>
        </div>
        <div class="col-6">
            <p class="text-muted mb-0">House Number</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ spouse.house_number }} </p>
        </div>
    </div>

    <h6>Children's Details</h6>
    <p class="text-muted mb-0">Full Name</p>
    {% for child in children %}
    <div class="row">
        <div class="col-10">
            <p class="bg-light bg-opacity-50 rounded p-2">{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</p>
        </div>
        <div class="col-2"><i class="fas fa-trash-alt"></i></div>
    </div>
    
     
    {% endfor %}

    <h6>Parent's Details</h6>
    <p class="text-muted mb-0">Full Name</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ parent.fathers_first_name }} {{ parent.fathers_middle_name }} {{ parent.fathers_last_name }}</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ parent.mothers_first_name }} {{ parent.mothers_middle_name }} {{ parent.mothers_last_name }}</p>


    <h6>Next Of Kin</h6>
    <p class="text-muted mb-0">Full Name</p>
    <p class="bg-light bg-opacity-50 rounded p-2">{{ next_of_kin.first_name }} {{ next_of_kin.middle_name }} {{ next_of_kin.last_name }}</p>
    <div class="row d-flex">
        <div class="col-6">
            <p class="text-muted mb-0">Phone number</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ next_of_kin.phone_number }} </p>
        </div>
        <div class="col-6">
            <p class="text-muted mb-0">House Number</p>
            <p class="bg-light bg-opacity-50 rounded p-2">{{ next_of_kin.house_number }} </p>
        </div>
    </div>

    <h5>Updates</h5>
    <div class="row">
        <div class="col-6">
            <a class="text-decoration-none" href="{% url "children" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Children<br><span class="text-muted">Add Children</span></p>
        </a>
        <a class="text-decoration-none" href="{% url "spouse" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Spouse<br><span class="text-muted">Add Spouse</span></p>
        </a>
        <a class="text-decoration-none" href="{% url "edit_profile" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Personal<br><span class="text-muted">Edit Info</span></p>
        </a>
        </div>
        <div class="col-6">
            <a class="text-decoration-none" href="{% url "parent" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Parent<br><span class="text-muted">Add parent</span></p>
        </a>
        <a class="text-decoration-none" href="{% url "next_of_kin" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Next Of Kin<br><span class="text-muted">Edit Info</span></p>
        </a>
        <a class="text-decoration-none" href="{% url "edit_profile" %}">
            <p class="bg-light bg-opacity-25 rounded p-2 text-dark shadow">Personal<br><span class="text-muted">Edit Info</span></p>
        </a>
        </div>
    </div>
</div>
{% endblock %}
