<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Group Fund Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}"/>
</head>
<body>
    <header>
        {% block header %}
            
        {% endblock %}
    </header>
    <nav>
        {% block nav %}
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="text-center">
        {% block footer %}
        &copy; {{ year|default:2024 }} Teaching Welfare
        {% endblock %}
    </footer>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>