<div class="col-3">
                {# TODO: Create a 'chairperson_dashboard' URL #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-house"></i>
                    <p class="mb-0 small">Home</p>
                </a>
            </div>
            <div class="col-3">
                {# TODO: Create a 'fund_overview' URL for chairperson #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-piggy-bank"></i>
                    <p class="mb-0 small">Fund</p>
                </a>
            </div>
            <div class="col-3">
                <a href="{% url 'profile' %}" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-user"></i>
                    <p class="mb-0 small">Profile</p>
                </a>
            </div>
            <div class="col-3">
                {# TODO: Create a 'chairperson_settings' URL #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-gear"></i>
                    <p class="mb-0 small">Setting</p>
                </a>
            </div>