<div class="col-3">
                {# TODO: Create an 'admin_dashboard' URL #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-house"></i>
                    <p class="mb-0 small">Home</p>
                </a>
            </div>
            <div class="col-3">
                <a href="{% url 'members_list' %}" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-users"></i>
                    <p class="mb-0 small">Members</p>
                </a>
            </div>
            <div class="col-3">
                {# TODO: Create an 'admin_reports' URL #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-chart-line"></i>
                    <p class="mb-0 small">Report</p>
                </a>
            </div>
            <div class="col-3">
                {# TODO: Create an 'admin_settings' URL #}
                <a href="#" class="text-white text-decoration-none d-block">
                    <i class="fa-solid fa-gear"></i>
                    <p class="mb-0 small">Setting</p>
                </a>
            </div>